# If you dont have a certificate to use, you can set the following to false
signModule=false

# # If you do have a certificate and keystore, then fill out the following, else feel free to remove them.
# ignition.signing.keystoreFile=/path/to/keystore.jks
# ignition.signing.keystorePassword=keystorePassword
# ignition.signing.certFile=/path/to/code-signing.chain.crt
# ignition.signing.certAlias=certAlias
# ignition.signing.certPassword=certPassword

# Gateway and API token used by `./gradlew deployModule` (Ignition 8.3 REST API).
# Create the token on the gateway under Platform > Security > API Keys. Not needed for the Docker loop.
hostGateway=http://perspective-component.localtest.me:80
# ignitionApiToken=name:secret

# This is the module version that will be used in the packaged module file.
version=0.0.1-SNAPSHOT
